.cover__overlay {
    background-color:rgba(42, 44, 47,.3);
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.cover__overlay:hover{
  background-color: rgba(42, 44, 47, .8);
}
